.search-input {
    padding: 6px;
    border: 1px solid;
    font-size: 17px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.Search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}